# Primary Research Questions

## <span style="color: #008000;">1. List the top 3 and bottom 3 makers for the fiscal years 2023 and 2024 in terms of the number of 2-wheelers sold.</span>

### <span style="color: #008000;">Top 3 Makers</span>

In [2]:
USE ev_sales_db;

In [3]:
SELECT TOP 3
    m.maker AS Maker,
    SUM(m.electric_vehicles_sold) AS EV_Sold
FROM electric_vehicle_sales_by_makers m
INNER JOIN dim_date d ON m.date = d.date
WHERE d.fiscal_year IN (2023, 2024)
    AND m.vehicle_category = '2-Wheelers'
GROUP BY m.maker
ORDER BY SUM(m.electric_vehicles_sold) DESC;

Maker,EV_Sold
OLA ELECTRIC,475072
TVS,262836
ATHER,184473

### <span style="color: #008000;">Bottom 3 Makers</span>

In [4]:
SELECT TOP 3
    m.maker AS Maker,
    SUM(m.electric_vehicles_sold) AS EV_Sold
FROM electric_vehicle_sales_by_makers m
INNER JOIN dim_date d ON m.date = d.date
WHERE d.fiscal_year IN (2023, 2024)
    AND m.vehicle_category = '2-Wheelers'
GROUP BY m.maker
ORDER BY SUM(m.electric_vehicles_sold) ASC;

Maker,EV_Sold
BATTRE ELECTRIC,4841
JITENDRA,8563
KINETIC GREEN,9585

## <span style="color: #008000;">2. Identify the top 5 states with the highest penetration rate in 2-wheeler </span> <span style="color: rgb(0, 128, 0);">and 4-wheeler EV sales in FY 2024.</span>

### <span style="color: #008000;">For 2-Wheelers</span>

In [5]:
SELECT TOP 5
    s.state,
    ROUND(SUM(s.electric_vehicles_sold)/CAST(SUM(s.total_vehicles_sold) AS float) * 100, 2) Penetration_Rate
FROM electric_vehicle_sales_by_state s
INNER JOIN dim_date d ON s.date = d.date
WHERE s.vehicle_category = '2-Wheelers'
    AND d.fiscal_year = 2024
GROUP BY s.state
ORDER BY Penetration_Rate DESC;

state,Penetration_Rate
Goa,17.99
Kerala,13.52
Karnataka,11.57
Maharashtra,10.07
Delhi,9.4

### <span style="color: #008000;">For 4-Wheelers</span>

In [6]:
SELECT TOP 5
    s.state,
    ROUND(SUM(s.electric_vehicles_sold)/CAST(SUM(s.total_vehicles_sold) AS float) * 100, 2) Penetration_Rate
FROM electric_vehicle_sales_by_state s
INNER JOIN dim_date d ON s.date = d.date
WHERE s.vehicle_category = '4-Wheelers'
    AND d.fiscal_year = 2024
GROUP BY s.state
ORDER BY Penetration_Rate DESC;

state,Penetration_Rate
Kerala,5.76
Chandigarh,4.5
Delhi,4.29
Karnataka,4.26
Goa,4.25

## <span style="color: #008000;">3. List the states with negative penetration (decline) in EV sales from 2022 to 2024?</span>

In [7]:
WITH penetration_22 AS (
    SELECT
        s.state,
        ROUND(SUM(s.electric_vehicles_sold)/CAST(SUM(s.total_vehicles_sold) AS float) * 100, 2) Penetration_Rate
    FROM electric_vehicle_sales_by_state s
    INNER JOIN dim_date d ON s.date = d.date
    WHERE d.fiscal_year = 2022
    GROUP BY s.state
),

penetration_24 AS (
    SELECT
        s.state,
        ROUND(SUM(s.electric_vehicles_sold)/CAST(SUM(s.total_vehicles_sold) AS float) * 100, 2) Penetration_Rate
    FROM electric_vehicle_sales_by_state s
    INNER JOIN dim_date d ON s.date = d.date
    WHERE d.fiscal_year = 2024
    GROUP BY s.state
)

SELECT
    p22.state AS State,
    p22.Penetration_Rate AS Penetration_2022,
    p24.Penetration_Rate AS Penetration_2024,
    CASE
        WHEN p24.Penetration_Rate < p22.Penetration_Rate
        THEN 'Decline'
        ELSE 'Postive Penetration'
    END AS Penetration_Status
FROM penetration_22 p22
INNER JOIN penetration_24 p24 ON p22.state = p24.state;

State,Penetration_2022,Penetration_2024,Penetration_Status
DNH and DD,0.28,1.21,Postive Penetration
Maharashtra,2.9,8.6,Postive Penetration
Jammu and Kashmir,1.07,1.64,Postive Penetration
Punjab,1.02,1.95,Postive Penetration
Kerala,1.98,11.59,Postive Penetration
Rajasthan,2.28,5.11,Postive Penetration
Arunachal Pradesh,0,0.11,Postive Penetration
Tripura,0.07,0.65,Postive Penetration
Nagaland,0.01,0.05,Postive Penetration
Sikkim,0,0,Postive Penetration
Meghalaya,0.02,0.36,Postive Penetration
Uttarakhand,1.2,2.72,Postive Penetration
West Bengal,0.31,1.75,Postive Penetration
Gujarat,1.65,5.3,Postive Penetration
Haryana,1.12,1.61,Postive Penetration
Odisha,1.98,6.33,Postive Penetration
Tamil Nadu,2.74,5.49,Postive Penetration
Manipur,0.07,0.68,Postive Penetration
Chandigarh,1.11,6.37,Postive Penetration
Jharkhand,0.66,1.58,Postive Penetration
Uttar Pradesh,0.41,1.97,Postive Penetration
Karnataka,4.28,10.18,Postive Penetration
Chhattisgarh,1.16,5.67,Postive Penetration
Delhi,4.12,7.71,Postive Penetration
Andhra Pradesh,1.8,4.24,Postive Penetration
Assam,0.19,0.64,Postive Penetration
Mizoram,0,1,Postive Penetration
Bihar,0.54,1.33,Postive Penetration
Himachal Pradesh,0.45,0.9,Postive Penetration
Puducherry,1.71,5.37,Postive Penetration
Goa,3.68,13.75,Postive Penetration
Madhya Pradesh,0.82,3.36,Postive Penetration
Andaman & Nicobar Island,0.43,0.5,Postive Penetration
Ladakh,0.41,0.97,Postive Penetration

## <span style="color: #008000;">4. What are the quarterly trends based on sales volume for the top 5 EV makers (4-wheelers) from 2022 to 2024?</span>

In [8]:
WITH top_5_makers_by_ev_sales AS (
    SELECT TOP 5
        e.maker,
        SUM(e.electric_vehicles_sold) AS ev_sold
    FROM electric_vehicle_sales_by_makers e
    JOIN dim_date d ON e.date = d.date
    WHERE d.fiscal_year BETWEEN 2022 AND 2024
        AND e.vehicle_category = '4-Wheelers'
    GROUP BY e.maker
    ORDER BY ev_sold DESC
    
)

SELECT
    e.maker AS Maker,
    d.quarter AS Quarter,
    SUM(e.electric_vehicles_sold) AS EV_Sold
FROM top_5_makers_by_ev_sales T5
JOIN electric_vehicle_sales_by_makers e ON T5.maker = e.maker
JOIN dim_date d ON d.date = e.date
WHERE d.fiscal_year BETWEEN 2022 AND 2024
GROUP BY e.maker, d.quarter
ORDER BY e.maker, d.quarter;

Maker,Quarter,EV_Sold
BYD India,Q1,487
BYD India,Q2,423
BYD India,Q3,454
BYD India,Q4,1055
Hyundai Motor,Q1,392
Hyundai Motor,Q2,579
Hyundai Motor,Q3,586
Hyundai Motor,Q4,519
Mahindra & Mahindra,Q1,13286
Mahindra & Mahindra,Q2,9670
Mahindra & Mahindra,Q3,9025
Mahindra & Mahindra,Q4,9212
MG Motor,Q1,2309
MG Motor,Q2,3957
MG Motor,Q3,3766
MG Motor,Q4,3721
Tata Motors,Q1,13953
Tata Motors,Q2,18581
Tata Motors,Q3,23678
Tata Motors,Q4,32723

## <span style="color: #008000;">5. How do the EV sales and penetration rates in Delhi compare to Karnataka for 2024?</span>

In [9]:
SELECT
    s.state,
    SUM(s.electric_vehicles_sold) AS EV_Sold,
    ROUND(SUM(s.electric_vehicles_sold)/CAST(SUM(s.total_vehicles_sold) AS float) * 100, 2) AS Penetration_Rate
FROM electric_vehicle_sales_by_state s
INNER JOIN dim_date d ON s.date = d.date
WHERE s.state IN ('Delhi', 'Karnataka')
    AND d.fiscal_year = 2024
GROUP BY s.state
ORDER BY Penetration_Rate DESC;

state,EV_Sold,Penetration_Rate
Karnataka,160989,10.18
Delhi,46724,7.71

## <span style="color: #008000;">6. List down the compounded annual growth rate (CAGR) in 4-wheeler units for the top 5 makers from 2022 to 2024.</span>

In [10]:
WITH cagr_calculation AS (
    SELECT
        e.maker,
        ROUND(
            (POWER(
                (COALESCE(SUM(CASE WHEN d.fiscal_year = 2024 THEN e.electric_vehicles_sold ELSE 0 END), 0) 
                / CAST(NULLIF(COALESCE(SUM(CASE WHEN d.fiscal_year = 2022 THEN e.electric_vehicles_sold ELSE 0 END), 0), 0)AS FLOAT)),
                1.0 / 2
            ) - 1) * 100, 2) AS CAGR
    FROM electric_vehicle_sales_by_makers e
    JOIN dim_date d ON e.date = d.date
    WHERE e.vehicle_category = '4-Wheelers'
    GROUP BY e.maker
)

SELECT TOP 5 
    *
FROM cagr_calculation
WHERE CAGR IS NOT NULL
ORDER BY CAGR DESC;

maker,CAGR
BMW India,1140.97
Volvo Auto India,971.21
BYD India,566.52
Hyundai Motor,255.48
Mercedes -Benz AG,234.55

## <span style="color: #008000;">7. List down the top 10 states that had the highest compounded annual growth rate (CAGR) from 2022 to 2024 in total vehicles sold.</span>

In [11]:
WITH cagr_calculation AS (
    SELECT
        s.state
        ,ROUND(
            (POWER(
                (SUM(CASE WHEN d.fiscal_year = 2024 THEN s.electric_vehicles_sold ELSE 0 END) 
                / CAST(NULLIF(SUM(CASE WHEN d.fiscal_year = 2022 THEN s.electric_vehicles_sold ELSE 0 END), 0) AS FLOAT)),
                1.0 / 2 -- Number of years (2022 to 2024 is 2 years)
            ) - 1) * 100, 2) AS CAGR
    FROM electric_vehicle_sales_by_state s
    JOIN dim_date d ON s.date = d.date
    GROUP BY s.state
)

SELECT TOP 10
	*
FROM cagr_calculation
WHERE CAGR IS NOT NULL
ORDER BY CAGR DESC;

state,CAGR
Meghalaya,476.63
Tripura,229.5
Nagaland,200
Chandigarh,164.58
Chhattisgarh,150.89
West Bengal,150.62
Goa,146.45
DNH and DD,137.85
Uttar Pradesh,137.7
Madhya Pradesh,133.67

## <span style="color: #008000;">8. What are the peak and low season months for EV sales based on the data from 2022 to 2024?</span>

In [24]:
SELECT
    DISTINCT FORMAT(d.date, 'MMMM') AS month_name,
    SUM(m.electric_vehicles_sold) AS ev_sold
FROM dim_date d
JOIN electric_vehicle_sales_by_makers m ON d.date = m.date
GROUP BY FORMAT(d.date, 'MMMM')
ORDER BY SUM(m.electric_vehicles_sold) DESC;

month_name,ev_sold
March,291587
November,205196
February,198049
January,189099
October,185185
December,180401
May,159869
September,145972
August,141961
April,134657
July,127426
June,106709

## <span style="color: #008000;">9. What is the projected number of EV sales (including 2-wheelers and 4-wheelers) for the top 10 states by penetration rate in 2030,&nbsp;</span> <span style="color: #008000;">based on the &nbsp;compounded annual growth rate (CAGR) from previous years?</span>

In [13]:
WITH cagr_calculation AS (
    SELECT
        s.state
        ,ROUND(
            (POWER(
                (SUM(CASE WHEN d.fiscal_year = 2024 THEN s.electric_vehicles_sold ELSE 0 END) 
                / CAST(NULLIF(SUM(CASE WHEN d.fiscal_year = 2022 THEN s.electric_vehicles_sold ELSE 0 END), 0) AS FLOAT)),
                1.0 / 2
            ) - 1) * 100, 2) AS CAGR
    FROM electric_vehicle_sales_by_state s
    JOIN dim_date d ON s.date = d.date
    GROUP BY s.state
),

cagr_by_state AS (
    SELECT *
    FROM cagr_calculation
    WHERE CAGR IS NOT NULL
),

penetration_rate_by_state AS (
    SELECT
        s.state,
        ROUND(SUM(s.electric_vehicles_sold) / CAST(SUM(s.total_vehicles_sold) AS FLOAT) * 100.0, 2) AS penetration_rate
    FROM electric_vehicle_sales_by_state s
    JOIN dim_date d ON s.date = d.date
    WHERE d.fiscal_year = 2024
        AND s.vehicle_category = '2-Wheelers'
    GROUP BY s.state
),

top_10_states_by_penetration AS (
    SELECT TOP 10
        PRBS.state,
        PRBS.penetration_rate,
        CBS.CAGR
    FROM penetration_rate_by_state PRBS
    JOIN cagr_by_state CBS ON PRBS.state = CBS.state
)

SELECT
    T10.state,
    ROUND(
        SUM(CASE WHEN d.fiscal_year = 2024 THEN s.electric_vehicles_sold ELSE 0 END)
        * POWER(1 + T10.CAGR / 100, 2030 - 2024), 0
    ) AS projected_ev_sales_2030
FROM top_10_states_by_penetration T10
JOIN electric_vehicle_sales_by_state s ON T10.state = s.state
JOIN dim_date d ON s.date = d.date
WHERE d.fiscal_year = 2024
GROUP BY T10.state, T10.CAGR
ORDER BY 2 DESC;

state,projected_ev_sales_2030
Gujarat,8646332
Chhattisgarh,7117936
Goa,2419672
Delhi,1054257
Chandigarh,986920
Bihar,457895
Andhra Pradesh,448699
Assam,384426
DNH and DD,35850
Andaman & Nicobar Island,111

## <span style="color: #008000;">10. Estimate the revenue growth rate of 4-wheeler and 2-wheelers &nbsp;EVs in India for 2022 vs 2024 and 2023 vs 2024,&nbsp;</span> <span style="color: #008000;">assuming an average &nbsp;unit price for 2-Wheelers (85000) and for 4-wheelers (1500000).</span>

In [14]:
WITH revenue_by_year AS (
    SELECT
        s.vehicle_category,
        d.fiscal_year,
        SUM(CAST(s.electric_vehicles_sold AS BIGINT) * 
            CASE
                WHEN s.vehicle_category = '2-Wheelers' THEN 85000
                WHEN s.vehicle_category = '4-Wheelers' THEN 1500000
                ELSE 0
            END
        ) AS total_revenue
    FROM electric_vehicle_sales_by_state s
    JOIN dim_date d ON s.date = d.date
    WHERE d.fiscal_year IN (2022, 2023, 2024)
    GROUP BY s.vehicle_category, d.fiscal_year
),

revenue_growth AS (
    SELECT
        vehicle_category,
        fiscal_year,
        total_revenue,
        LAG(total_revenue) OVER (PARTITION BY vehicle_category ORDER BY fiscal_year) AS prev_revenue
    FROM revenue_by_year
)

SELECT
    vehicle_category,
    fiscal_year,
    ROUND(((total_revenue - prev_revenue) / NULLIF(CAST(prev_revenue AS FLOAT), 0)) * 100, 2) AS revenue_growth_rate
FROM revenue_growth
WHERE fiscal_year IN (2022, 2023, 2024)
    AND prev_revenue IS NOT NULL
ORDER BY vehicle_category, fiscal_year;

vehicle_category,fiscal_year,revenue_growth_rate
2-Wheelers,2023,188.2
2-Wheelers,2024,28.13
4-Wheelers,2023,155.5
4-Wheelers,2024,83.08